@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap&family=Bree+Serif&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#App {
    margin: auto;
    max-width: 640px;
}

.button.is-large {
    height: 54px;
    font-size: 1.25rem !important;
}

.article-image {
    width: 100%;
    max-width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
}

@media (min-width: 640px) {
    .article-image.first-item {
        max-width: 640px;
        padding-top: 340px;
    }
}